* {
    box-sizing: border-box;
  }
body {
    background-image: url('../../Assets/Images/graystone.png');
    background-color: #4aaaa5;
    height: 3000px;
}

#profile {
    float: left;
    border: 2px solid gray;
    width: 20%;
    height: 100px;
}

header {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 2px solid darkgray;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10.38%;
    padding-top: 2px;
}

h1 {
    height: 50;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    padding: 20px;
    
}

article {
    margin-top: 125px;
    width: 80%;
    height: 1200px;
    background-color: #ffffff;

}
